
.nav-main {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.button-nav-main {
    background: #FFF;
    width: 50%;
    max-width: 6em;
    max-height: 2em;
    margin-top: 2%;
    display: inline-flex;
    flex-flow: Wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    font-family: monospace;

}

.welcome-text {
    width: 90%;
    height: 30%;
    margin: auto;
    padding: 2%;
    margin-top: 10%;
    text-align: center;
    font-size: 2em;
    background-color: #000;
    color: #F0F0F0;
    font-family: monospace;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 99%;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: monospace;
}


.about-text {
    width: 50%;
    height: 30%;
    justify-content: center;
    align-content: center;
}

.about-image {
    width: 50%;
    height: 30%;
    justify-content: center;
    align-content: center
}

.contact-form {
    width: 100%;
    height: 40%;
    background-color: #CCC;
}


.container {
    width: 100%;
    display: grid;
    /* grid-template: filas / columnas;*/
    grid-template: 100px 1fr 100px / 400px 1fr;
    grid-area: "main right";
}

header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.contenido {
    grid-area: contenido;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'left right';
    background-color: #000;
    justify-content: space-around;
    align-content: center;
    color: white;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width:480px) {
    .dos-columnas {
        display: flex;
        justify-content: space-between;
    }

    .entrada-blog {
        flex-basis: calc(50%-1rem);
        /*calc() hace un cálculo matemático*/
        /*Ocupa el 50% del contenedor - 1 rem para dar espacio entre columnas*/
    }
}

